{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% load i18n %}
{% block content %}

   <h1>{% trans 'Все статьи' %}</h1>

   {# Добавляем форму, которая объединяет набор полей, которые будут отправляться в запросе #}
   <form action="" method="get">
       {# Переменная, которую мы передали через контекст, может сгенерировать нам форму с полями #}
       {{ filterset.form.as_p }}
       {# Добавим кнопку отправки данных формы #}
       <input type="submit" value={% trans "Найти" %}/>
   </form>

   {% if news_search %}
       <table>
           <tr>
               <td>{% trans 'Название' %}</td>
               <td>{% trans 'Текст' %}</td>
               <td>{% trans 'Дата публикации' %}</td>
               <td>{% trans 'Тип контента' %}</td>
               <td>{% trans 'Рейтинг поста' %}</td>
           </tr>

           {% for new in news_search %}
           <tr>
               <td>{{ new.heading|censor }}</td>
               <td>{{ new.text|truncatechars:10|censor }}</td>
               <td>{{ new.published_date|truncatechars:11 }}</td>
               {% if new.choice == "AR" %}
               <td>{% trans 'Статья' %}</td>
               {% else %}
               <td>{% trans 'Новость' %}</td>
               {% endif %}
               <td>{{ new.post_rating }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>{% trans 'Нет новостей!' %}</h2>
   {% endif %}
   {% if page_obj.has_previous %}
       {# Для каждой ссылки пагинации указываем обработку через новый тег #}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {{ page_obj.number }}

   {% if page_obj.has_next %}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
{% endblock content %}